<% include partials/header %>

        <div class="ui text container one column stackable center aligned page grid">
            <h1 class="ui header">SeekPartner</h1>
            <p>Rencontrez des partenaires de jeux !</p>
        </div>

<% include partials/footer %>
